{% if is_granted('ROLE_GESTIONNAIRE') %}

<form method="post" class="mt-3 d-inline pt-4" action="{{ path('client_generer_facture', {id: client.id}) }}" data-turbo="false">
<input type="hidden" name="_token" value="{{ csrf_token('genererfactures' ~ client.id) }}">
	<button type="submit" class="btn btn-primary stripes-btn">
		<i class="mdi mdi-arrow-collapse-down"></i>
		Générer le document pdf
	</button>
</form>

 {% endif %}