{% extends 'base.html.twig' %}

{% block title %}Rapports{% endblock %}

{% block body %}

<!-- Row start -->
<div class="row gutters mb-5">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="icon-home2"></i> Tableau de bord</a></li>
              <li class="breadcrumb-item active" aria-current="page"><i class="icon-book-open"></i> Rapport</li>
          </ol>
      </nav>
  </div>
</div>
<!-- Row end -->

<div class="card">
    <div class="card-body">

        {{ include('rapports/_rapports_table.html.twig') }}

        <div class="row">
            <div class="col-md-6 pt-4">
                {{ knp_pagination_render(notifications) }}
            </div>
            <div class="col-md-6">
                {{ include('rapports/_form_generer.html.twig') }}
            </div>
        </div>

    </div>
</div>

{% endblock %}
