<form method="post" class="d-inline" action="{{ path('vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce vehicule?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
