<p>Une nouvelle commande vient d'être attribuée au conducteur:</p>

<h4>
   {{ commande.conducteur.nom ?? '' }}
   {{ commande.conducteur.prenom ?? '' }}
</h4>

<h3>Details de la facture</h3>

{% include "commande/_facture.html.twig" %}

<h2>Merci!</h2>