<p>Salut
   {{ commande.client.civilite ?? '' }}

   <strong>
      {{ commande.client.nom ?? '' }}
      {{ commande.client.prenom ?? '' }}
   </strong>
</p>

<h5>Votre commande est en cours de traitement</h5>


<h3>Details de la facture</h3>

{% include "commande/_facture.html.twig" %}

<br>

<a href="https://127.0.0.1:8000{{ path('client_commande_facture', { id: commande.id }) }}" target="_blank" style="display: inline-block;padding: 15px;border-radius: 20px;background: #1f3c4d;color:white;text-decoration:none;">Télecharger ma facture</a>
<br><br>
<h2>Merci!</h2>