{% extends 'base.html.twig' %}

{% block title %}New PalEurope{% endblock %}

{% block body %}
    <h1>Create new PalEurope</h1>

    {{ include('pal_europe/_form.html.twig') }}

    <a href="{{ path('pal_europe_index') }}">back to list</a>
{% endblock %}
