<a href="{{ path('commande_new') }}" class="btn btn-primary">
	<i class="mdi mdi-calendar-multiple"></i>
	Nouvelle commande</a>&nbsp;&nbsp;
<a href="{{ path('itineraire_index') }}" class="btn btn-primary">
	Itineraires</a>&nbsp;
<a href="{{ path('itineraire_new') }}" class="btn btn-primary">
	Ajouter un itineraire</a>
