<form method="post" class="d-inline" action="{{ path('itineraire_delete', {'id': itineraire.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet itineraire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itineraire.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
