<fieldset class="border-bottom">
	<table class="table commande">
		<legend>Facturation</legend>
		<tbody>
			<tr>
				<th>Tarif</th>
				<td>
					{{ form_widget(form.tarif) }}
					{{ form_errors(form.tarif) }}
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>
