{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville{% endblock %}

{% block links %}

	<li class="breadcrumb-item">
		<a href="{{ path('ville_index') }}">
			<i class="mdi mdi-map"></i>
			Villes</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Ajouter une ville
	</li>

{% endblock %}

{% block body %}

    {{ include('ville/_form.html.twig') }}

{% endblock %}
