{% extends 'base.html.twig' %}

{% block title %}{{ secteur.name }}{% endblock %}

{% block links %}

	<li class="breadcrumb-item">
		<a href="{{ path('secteur_index') }}">
			<i class="mdi mdi-arrow-decision"></i>
			Secteurs de travail</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		<strong>{{ secteur.name }}</strong>
	</li>

{% endblock %}

{% block body %}

	{{ include('secteur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
